In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# -*- coding: utf-8 -*-

In [3]:
df = pd.read_csv(r'C:\Users\User\Desktop\j\lesson_2\lesson_2_data.csv', delimiter=";", header=0, encoding='cp1251')

In [4]:
df.tail() # конец датасета
df.head()
df.shape

(292, 8)

In [5]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [6]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [7]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [8]:
# Переименуем названия колонок для удобства 
df = df.rename(columns = {'Номер':'number', 'Дата создания':'create_date', 'Дата оплаты':'payment_date', 'Title':'title', 'Статус':'status',
       'Заработано':'money', 'Город':'city', 'Платежная система':'payment_system'})

In [9]:
# Типы курсов
df.title.unique()

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

In [10]:
df[['title', 'status']].head()

                         title    status
0      Курс обучения «Эксперт»  Завершен
1      Курс обучения «Эксперт»  Завершен
2   Курс обучения «Специалист»   Отменен
3  Курс обучения «Консультант»   Отменен
4      Курс обучения «Эксперт»   Отменен

In [11]:
df.money

0      29597.50
1      17450.30
2          0.00
3          0.00
4          0.00
         ...
287     2935.44
288        0.00
289     7423.92
290     2935.44
291     9898.56
Name: money, Length: 292, dtype: float64

In [12]:
# Заработанные деньги
all_money = df.money.sum()
all_money

992103.5900000001

In [13]:
# Суммарно денег для каждого типа с группировкой по городу
money_by_city = df \
    .groupby(['title', 'city'], as_index = False) \
    .aggregate({'money':'sum'}) \
    .sort_values('money', ascending = False) 
money_by_city

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

In [14]:
# количество завершённых заказов для каждого типа
money_title = df \
    .query("status == 'Завершен'") \
    .groupby(['title'], as_index = False) \
    .aggregate({'money':'sum', 'number':'count'}) \
    .sort_values('money', ascending = False) \
    .rename(columns = {'number':'successful_orders'})

In [15]:
money_title_sum = money_title.money.sum()
today_day = datetime.today().strftime('%Y-%m-%d')
file_name = 'money_title_{}.csv'
file_name = file_name.format(today_day)

In [16]:
if int(money_title_sum) == int(all_money):
    print('OK. File {} is written'.format(file_name))
    money_title.to_csv(file_name, index = False)
else:
    print('ERROR')

OK. File money_title_2023-06-26.csv is written