In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\User\Desktop\j\lesson_2\project\2_bookings.csv', delimiter = ';', encoding = 'cp1251')

In [3]:
df.shape

(119390, 21)

In [4]:
df.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [5]:
df.columns = df.columns.str.replace(' ','_').str.lower()
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [6]:
df.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [7]:
# Which countries have the highest number of successful bookings made by users?
successful_bookings = df\
    .query('is_canceled != 1') \
    .groupby(['country', 'is_canceled'], as_index = False) \
    .aggregate({'is_canceled':'count'}) \
    .sort_values('is_canceled', ascending = False) \
    .rename(columns = {'number':'successful_bookings'})
successful_bookings

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069
..      ...          ...
138     SMR            1
101     MLI            1
136     SLE            1
94      MAC            1
122     PLW            1

[165 rows x 2 columns]

In [8]:
# On average, how many nights (stays_total_nights) do users book for City Hotels and Resort Hotels?
resort_hotel_avg = df \
    .query("hotel == 'Resort Hotel'")
resort_hotel_avg.stays_total_nights.describe()

count    40060.000000
mean         4.318547
std          3.380273
min          0.000000
25%          2.000000
50%          3.000000
75%          7.000000
max         69.000000
Name: stays_total_nights, dtype: float64

In [9]:
city_hotel_avg = df \
    .query("hotel == 'City Hotel'")
city_hotel_avg.stays_total_nights.describe()

count    79330.000000
mean         2.978142
std          1.862937
min          0.000000
25%          2.000000
50%          3.000000
75%          4.000000
max         57.000000
Name: stays_total_nights, dtype: float64

In [10]:
# How many occurrences of a different assigned room type (assigned_room_type) 
# from the originally reserved room type (reserved_room_type) were found in the dataset?
df.query('assigned_room_type != reserved_room_type').aggregate({'assigned_room_type':'count'})

assigned_room_type    14917
dtype: int64

In [11]:
# Which month had the highest number of bookings in 2016? Did the most popular month change in 2017?
df \
    .query('arrival_date_year == 2016')\
    .arrival_date_month \
    .value_counts()

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: count, dtype: int64

In [12]:
df \
    .query('arrival_date_year == 2017')\
    .arrival_date_month \
    .value_counts()

arrival_date_month
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: count, dtype: int64

In [13]:
# Group the data by years and then determine 
# which month (arrival_date_month) had the highest number of cancellations for City Hotel bookings 
# in 2015, 2016, and 2017?
df\
    .query("hotel == 'City Hotel'" and "arrival_date_year == 2015") \
    .groupby(['arrival_date_year', 'arrival_date_month'] , as_index = False) \
    .aggregate({'is_canceled':'count'}) \
    .sort_values('is_canceled', ascending = False)

   arrival_date_year arrival_date_month  is_canceled
5               2015          September         5114
4               2015            October         4957
0               2015             August         3889
1               2015           December         2920
2               2015               July         2776
3               2015           November         2340

In [14]:
df\
    .query("hotel == 'City Hotel'" and "arrival_date_year == 2016") \
    .groupby(['arrival_date_year', 'arrival_date_month'] , as_index = False) \
    .aggregate({'is_canceled':'count'}) \
    .sort_values('is_canceled', ascending = False)

    arrival_date_year arrival_date_month  is_canceled
10               2016            October         6203
8                2016                May         5478
0                2016              April         5428
11               2016          September         5394
6                2016               June         5292
1                2016             August         5063
7                2016              March         4824
5                2016               July         4572
9                2016           November         4454
3                2016           February         3891
2                2016           December         3860
4                2016            January         2248

In [15]:
df\
    .query("hotel == 'City Hotel'" and "arrival_date_year == 2017") \
    .groupby(['arrival_date_year', 'arrival_date_month'] , as_index = False) \
    .aggregate({'is_canceled':'count'}) \
    .sort_values('is_canceled', ascending = False)

   arrival_date_year arrival_date_month  is_canceled
7               2017                May         6313
0               2017              April         5661
5               2017               June         5647
4               2017               July         5313
6               2017              March         4970
1               2017             August         4925
2               2017           February         4177
3               2017            January         3681

In [16]:
# Create a column called "total_kids" by combining the "children" and "babies" columns.
# For which hotel type did the average value of this variable turn out to be the highest?
df['total_kids'] = df.children + df.babies
df.groupby('hotel').aggregate({'total_kids':'mean'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [ ]:
"""Create a variable called "has_kids" that takes the value True if the customer indicated 
at least one child (total_kids) during booking, otherwise False. 
Then, determine among which user group the churn rate is higher."""

In [36]:
for i in range(len(df.children)):
    if df.children[i] > 0.0:
        df.loc[i, 'has_kids'] = True
    elif df.babies[i] > 0:
        df.loc[i, 'has_kids'] = True
    else:
        df.loc[i, 'has_kids'] = False
df.query('has_kids == True').aggregate({'has_kids':'count'})

has_kids    9332
dtype: int64

In [44]:
df.query('has_kids == True').query('is_canceled == 1').aggregate({'is_canceled':'count'})/df.query('has_kids == True').aggregate({'is_canceled':'count'})*100

is_canceled    34.922846
dtype: float64

In [45]:
df.query('has_kids == False').query('is_canceled == 1').aggregate({'is_canceled':'count'})/df.query('has_kids == False').aggregate({'is_canceled':'count'})*100

is_canceled    37.221283
dtype: float64